.videoBox{
    scroll-snap-type: y mandatory;
}
.videoContainer{
    scroll-snap-align: start;
}

.menu{
    transition: width 200ms linear;
}

.scrollbar::-webkit-scrollbar{
    display: none;
}

.scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.disabled:disabled{
    background-color: rgb(126, 126, 126);
}